In [95]:
import pandas as pd
import numpy as np

url_tmp = 'https://finance.naver.com/item/main.nhn?code=%s'
url = url_tmp%('005930')
tables = pd.read_html(url, encoding='euc-kr',index_col=None, header=0)
df = tables[3]
new_df=df.loc[[2,3,4,8],['주요재무정보','최근 분기 실적','최근 분기 실적.1','최근 분기 실적.2','최근 분기 실적.3','최근 분기 실적.4']]
new_df

  주요재무정보 최근 분기 실적 최근 분기 실적.1 최근 분기 실적.2 최근 분기 실적.3 최근 분기 실적.4
2    매출액   561271     620035     598848     553252     529661
3   영업이익    65971      77779      71603      64473      81463
4  당기순이익    51806      62877      52270      48849      55551
8   부채비율    33.05      34.14      34.12      34.19      32.67

In [142]:
stock_n='051910'
url = 'https://finance.naver.com/item/main.nhn?code={}'.format(stock_n)
tables = pd.read_html(url, encoding='euc-kr',index_col=None, header=0)
df = tables[3]
new_df=df.loc[[2,3,4,8],['주요재무정보','최근 분기 실적','최근 분기 실적.1','최근 분기 실적.2','최근 분기 실적.3','최근 분기 실적.4']]
new_df

  주요재무정보 최근 분기 실적 최근 분기 실적.1 최근 분기 실적.2 최근 분기 실적.3 최근 분기 실적.4
2    매출액    71774      73473      74612      71157      69352
3   영업이익     2675       3803       -275       2365       5716
4  당기순이익      838       1372       -568        363       4191
8   부채비율    87.72      91.70      95.73     113.14     116.21

In [143]:
def naver_fin(stock_n):
    url = 'https://finance.naver.com/item/main.nhn?code={}'.format(stock_n)
    tables = pd.read_html(url, encoding='euc-kr',index_col=None, header=0)
    df = tables[3]
    new_df=df.loc[[2,3,4,8],['주요재무정보','최근 분기 실적','최근 분기 실적.1','최근 분기 실적.2','최근 분기 실적.3','최근 분기 실적.4']]
    
    asset_1.append(float(new_df.iloc[0][1]))
    profit_1.append(float(new_df.iloc[1][1]))
    net_profit_1.append(float(new_df.iloc[2][1]))
    debt_1.append(float(new_df.iloc[3][1]))

    asset_2.append(float(new_df.iloc[0][2]))
    profit_2.append(float(new_df.iloc[1][2]))
    net_profit_2.append(float(new_df.iloc[2][2]))
    debt_2.append(float(new_df.iloc[3][2]))

    asset_3.append(float(new_df.iloc[0][3]))
    profit_3.append(float(new_df.iloc[1][3]))
    net_profit_3.append(float(new_df.iloc[2][3]))
    debt_3.append(float(new_df.iloc[3][3]))

    asset_4.append(float(new_df.iloc[0][4]))
    profit_4.append(float(new_df.iloc[1][4]))
    net_profit_4.append(float(new_df.iloc[2][4]))
    debt_4.append(float(new_df.iloc[3][4]))
    
    asset_5.append(float(new_df.iloc[0][5]))
    profit_5.append(float(new_df.iloc[1][5]))
    net_profit_5.append(float(new_df.iloc[2][5]))
    debt_5.append(float(new_df.iloc[3][5]))

In [144]:
lis = ['005930','051910']
asset_1 = []
asset_2 = []
asset_3 = []
asset_4 = []
asset_5 = []
profit_1 = []
profit_2 = []
profit_3 = []
profit_4 = []
profit_5 = []
net_profit_1 = []
net_profit_2 = []
net_profit_3 = []
net_profit_4 = []
net_profit_5 = []
debt_1 = []
debt_2 = []
debt_3 = []
debt_4 = []
debt_5 = []

for i in lis:
    naver_fin(i)

print(asset_1)
print(asset_2)
print(asset_3)
print(asset_4)
print(asset_5)

[561271.0, 71774.0]
[620035.0, 73473.0]
[598848.0, 74612.0]
[553252.0, 71157.0]
[529661.0, 69352.0]