In [28]:
import pandas as pd
import json
import numpy as np

In [19]:
news = pd.read_csv('C:\\Users\\Inyong Kim\\Desktop\\bert_label_text.csv',encoding = 'utf-8')
news[0:3]

   Unnamed: 0        date                                               text
0           0  2005-01-01  역시 큰 사고 때면 어김없이 동포애를 재확인할 수 있군요. 이번 지진ㆍ해일 참사에 ...
1           1  2005-01-02  국내 휴대전화 생산업체들이 GSM 특허를 보유하고 있는 외국 주요 업체들과 로열티 ...
2           2  2005-01-02  차세대 이동통신 규격을 둘러싼 세계 통신업계의 주도권 다툼이 본격화할 움직임이 보이...

In [80]:
stock = pd.read_csv('C:\\Users\\Inyong Kim\\Desktop\\samsung_stock_price.csv',encoding = 'utf-8')

In [81]:
stock.rename(columns = {'Date': 'date'}, inplace = True)
stock.drop(['Unnamed: 0'], axis='columns', inplace=True)

In [83]:
stock['stock_ma']=''

In [84]:
# 7일간의 이동평균
for i in range(7, len(df)):
    stock['stock_ma'][i]=stock['Close'][i-7:i+1].mean()
stock

C:\anaconda\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,date,Open,High,Low,Close,Adj Close,Volume,stock_ma
0,2000-01-04,6000.0,6110.0,5660.0,6110.0,0.090599,74195000.0,
1,2000-01-05,5800.0,6060.0,5520.0,5580.0,0.082740,74680000.0,
2,2000-01-06,5750.0,5780.0,5580.0,5620.0,0.083333,54390000.0,
3,2000-01-07,5560.0,5670.0,5360.0,5540.0,0.082147,40305000.0,
4,2000-01-10,5600.0,5770.0,5580.0,5770.0,0.085558,46880000.0,
...,...,...,...,...,...,...,...,...
5215,2020-09-24,57700.0,58600.0,57600.0,57800.0,57800.000000,17564020.0,59325
5216,2020-09-25,57700.0,58200.0,57700.0,57900.0,57900.000000,11444683.0,58937.5
5217,2020-09-28,58300.0,58800.0,57900.0,58200.0,58200.000000,12614080.0,58587.5
5218,2020-09-29,58300.0,59000.0,58200.0,58200.0,58200.000000,15503563.0,58425
5219,2020-10-05,57500.0,59200.0,57500.0,58700.0,58700.000000,19529988.0,58350

In [101]:
new_stock = stock[7:]

In [102]:
new_stock['label']=''

C:\anaconda\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
new_stock.reset_index(drop=True, inplace=True)
new_stock

,date,Open,High,Low,Close,Adj Close,Volume,stock_ma,label
0,2000-01-13,5600.0,5740.0,5560.0,5710.0,0.084668,41190000.0,5727.5,
1,2000-01-14,5720.0,5880.0,5680.0,5830.0,0.086447,49375000.0,5692.5,
2,2000-01-17,6000.0,6180.0,5920.0,6100.0,0.090451,63505000.0,5757.5,
3,2000-01-18,6160.0,6160.0,5980.0,6100.0,0.090451,45260000.0,5817.5,
4,2000-01-19,6000.0,6040.0,5960.0,5960.0,0.088375,40205000.0,5870,
...,...,...,...,...,...,...,...,...,...
5208,2020-09-24,57700.0,58600.0,57600.0,57800.0,57800.000000,17564020.0,59325,
5209,2020-09-25,57700.0,58200.0,57700.0,57900.0,57900.000000,11444683.0,58937.5,
5210,2020-09-28,58300.0,58800.0,57900.0,58200.0,58200.000000,12614080.0,58587.5,
5211,2020-09-29,58300.0,59000.0,58200.0,58200.0,58200.000000,15503563.0,58425,
5212,2020-10-05,57500.0,59200.0,57500.0,58700.0,58700.000000,19529988.0,58350,

In [106]:
for i in range(len(new_stock)):
    if new_stock['Close'][i] - new_stock['stock_ma'][i] > 0:
        new_stock['label'][i] = new_stock['label'][i].replace('','1')
    else:
        new_stock['label'][i] = new_stock['label'][i].replace('','0')

C:\anaconda\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\anaconda\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\anaconda\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [109]:
# 7일전날짜에 라벨링
new_stock.label = new_stock.label.shift(-7)
new_stock

C:\anaconda\anaconda\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,date,Open,High,Low,Close,Adj Close,Volume,stock_ma,label
0,2000-01-13,5600.0,5740.0,5560.0,5710.0,0.084668,41190000.0,5727.5,0
1,2000-01-14,5720.0,5880.0,5680.0,5830.0,0.086447,49375000.0,5692.5,0
2,2000-01-17,6000.0,6180.0,5920.0,6100.0,0.090451,63505000.0,5757.5,0
3,2000-01-18,6160.0,6160.0,5980.0,6100.0,0.090451,45260000.0,5817.5,0
4,2000-01-19,6000.0,6040.0,5960.0,5960.0,0.088375,40205000.0,5870,1
...,...,...,...,...,...,...,...,...,...
5208,2020-09-24,57700.0,58600.0,57600.0,57800.0,57800.000000,17564020.0,59325,NaN
5209,2020-09-25,57700.0,58200.0,57700.0,57900.0,57900.000000,11444683.0,58937.5,NaN
5210,2020-09-28,58300.0,58800.0,57900.0,58200.0,58200.000000,12614080.0,58587.5,NaN
5211,2020-09-29,58300.0,59000.0,58200.0,58200.0,58200.000000,15503563.0,58425,NaN
5212,2020-10-05,57500.0,59200.0,57500.0,58700.0,58700.000000,19529988.0,58350,NaN

In [110]:
df = new_stock[['date','label']]

In [112]:
news_label = pd.merge(news, df, on='date', how='inner')
news_label

,Unnamed: 0,date,text,label
0,4,2005-01-03,주가가 견조한 흐름을 보이고 환율이 오르는 등 새해 금융시장이 비교적 순조롭게 출발...,1
1,5,2005-01-03,2005년 새해 첫 거래일에 종합주가지수가 혼조세 끝에 소폭 하락했다. 3일 거래소...,1
2,6,2005-01-03,올 주식시장에서는 턴어라운드 종목과 DMB도 입에 따른 관련 주들의 테마 형성 가능...,1
3,7,2005-01-03,팬택 앤 큐리텔[]이 2005년부터 휴대전화 유통시장에 본격 진출하기 위해 전국에 ...,1
4,8,2005-01-03,올해 상장. 등록기업 중 IT 업종의 영업실적은 작년보다 크게 줄어드는 반면 금융 ...,1
...,...,...,...,...
73880,81688,2020-10-05,"국내 반도체와 전자, 디스플레이 대기업들의 3분기 실적이 전 분기보다 큰 폭으로 개...",NaN
73881,81689,2020-10-05,코스피는 외국인과 기관의 순 매수로 장중 상승세를 이어가며 마감했다. 5일 코스피는...,NaN
73882,81690,2020-10-05,일본 소니와 키 옥시 아가 중국 화웨이에 대한 부품 공급 재개를 허가해달라고 미국 ...,NaN
73883,81691,2020-10-05,코스피가 도널드 트럼프 미국 대통령의 신종 코로나 바이러스감염증 확진에도 강보합권을...,NaN
73884,81692,2020-10-05,10월 증시는 변동성 장세가 이어지면서 지구대별로 종목 비중을 조정하는 전략이 필요...,NaN

In [113]:
news_label.to_csv('C:\\Users\\Inyong Kim\\Desktop\\news_label.csv', index=False, encoding='utf-8')